click==8.1.8
dotenv==0.9.9
flake8==7.2.0
importlib-metadata==4.2.0
mccabe==0.7.0
mypy-extensions==1.0.0
numpy==2.2.5
packaging==24.0
pathspec==0.11.2
platformdirs==4.0.0
pycodestyle==2.13.0
pyflakes==3.3.2
python-dotenv==0.21.1
tomli==2.0.1
typing_extensions==4.7.1
zipp==3.15.0
