black==23.3.0
click==8.1.8
dotenv==0.9.9
flake8==5.0.4
importlib-metadata==4.2.0
mccabe==0.7.0
mypy-extensions==1.0.0
numpy==1.21.6
packaging==24.0
pathspec==0.11.2
platformdirs==4.0.0
pycodestyle==2.9.1
pyflakes==2.5.0
python-dotenv==0.21.1
tomli==2.0.1
typed-ast==1.5.5
typing_extensions==4.7.1
zipp==3.15.0
